#welcome {
  margin-top: 30px;
}

#tabs .nav {
  margin-bottom: 15px;
}

#main {
  position: relative;
}

.box {
  cursor: move;
}

.inner {
  border: 1px solid gray;
  padding: 5px;
  margin: 10px 0;
}
