#welcome {
  margin-top: 30px;
}

#tabs .nav {
  margin-bottom: 15px;
}

#main {
}

.box {
  cursor: move;
}

.inner {
  background: rgb(248, 248, 248);
}

.tools > div {
  padding: 0;
}

.content {
  overflow: hidden;
}

.text img {
  text-align: center;
}
